/* ---------------------------------- */
/*                公共样式                */
/* ---------------------------------- */
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
/* 主题色 */


/* ------------- 主题深色模式 ------------- */
@mixin dark-theme {
    [data-theme="dark"] & {
        @content;
    }
}

@mixin text-color($light-color: $global-text-color, $dark-color: $global-text-color-dark) {
    color: $light-color;

    @include dark-theme {
        color: $dark-color;
    }

}

/* -------------- 背景透明 -------------- */
%background-transparent {
    background: transparent;

    @include dark-theme {
        background: transparent;
    }
}

a {
    transition: all .2s ease-in;

    &:hover:not(.single-title a):not(.header-title a) {
        font-weight: 600;
    }
}

:root {
    /* 主题色 */
    --waline-theme-color: #D2A679 !important;
    --waline-active-color: #8B4513 !important;
}

/* -------------------------------------------- */
/*                    头部                     */
/* ------------------------------------------ */
header {
    max-width: 100%;
    width: auto;

    &:hover {
        box-shadow: none;

        @include dark-theme {
            box-shadow: none;
        }
    }
}

/* -------------------------------------------- */
/*               首页文章部分                   */
/* ------------------------------------------- */


.post-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.home.posts .summary {
    display: flex;
    height: 100%;
    flex-direction: column;
    @include dark-theme();
    border-radius: $global-border-radius;
    padding: 0;
    overflow: hidden;
    border: solid 1px #f0f0f0;


    .featured-image-preview {
        aspect-ratio: auto 1000 / 500;
        margin: 0;

        img {
            border-radius: 0;
        }
    }

    .post-included {
        font-size: 0.75rem;
        @include text-color(#4b5563, #d1d5db);
        line-height: 1.2;
    }

    .post-info {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: space-between;
        flex-grow: 1;
        gap: .3rem;

        .single-title {
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
            margin-block: 0 .5rem;
        }

        .content {
            margin: 0 0 .5rem 0;
            font-size: .875rem;
            line-height: 1.4;
            @include text-color(#4b5563, #d1d5db);
        }

        .post-footer {
            font-size: .75rem;
            line-height: 1.2;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: start;
            gap: .5rem;
            @include text-color(#4b5563, #d1d5db);

            .post-tags {
                @include text-color(#4b5563, #d1d5db);
                max-width: 100%;
            }

        }
    }

    &::after {
        display: none;
    }
}

/* -------------------------------------------- */
/*                      文章页                     */
/* -------------------------------------------- */
.single {
    .post-meta-line {
        margin-top: .5rem;

        span {
            margin-right: .3rem;
        }

        a {
            font-size: .875rem;
            border: solid 1px $global-color-primary;
            padding: .2rem;
            transition: all .2s ease;
            border-radius: .3rem;
            box-sizing: border-box;
            @include text-color($global-color-primary-dark, $global-color-primary-dark);
        }
    }

    .content {
        a:not(.lightgallery):not(.card-link) {
            @include text-color($global-color-primary, $global-color-primary-dark);
            box-shadow: 0 1px;
        }
    }
}


#toc-auto .toc-content li.has-active>a,
.collection-details .collection-content .collection-list .collection-item>.active {
    @include text-color($global-color-primary, $global-color-primary-dark);
}

/* -------------------- 跳转页 ------------------- */
.external-warning {
    max-width: 700px;
    margin: 3rem auto;
    padding: 2rem;
    border: 1px solid #eee;
    border-radius: $global-border-radius;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    text-align: center;
}

.warning-title {
    color: #d32f2f;
    margin-top: 0;
}

.external-url {
    word-break: break-all;
    background: #f5f5f5;

    @include dark-theme {
        background: #363636;
    }

    padding: 0.5rem;
    border-radius: $global-border-radius;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-group {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    padding: 0.75rem 1.5rem;
    border-radius: $global-border-radius;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s;
}

.continue-btn {
    background: #8B4513;
    color: white;
}

.continue-btn:hover {
    background: #D2A679;

    @include dark-theme {
        color: #8B4513;
    }
}

/* -------------------- 设备页 ------------------- */
.devices {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 12px;
    margin-top: 1rem;
    box-sizing: border-box;
}

.device-item {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc((100% - 30px) / 3);
    transition: transform 0.3s ease;
    border: solid 1px #f0f0f0;
    border-radius: $global-border-radius;
}

.device-image {
    height: 150px;
    /* 减小高度 */
    overflow: hidden;
    margin: 0;
}

.device-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.device-item:hover .device-image img {
    transform: scale(1.05);
}

.device-info {
    padding: 12px;
    text-align: left;

    // .device-price {
    //     font-size: .875rem;
    //     line-height: 1.4;
    //     font-family: 'D-DIN', sans-serif;
    // }

    .device-title {
        font-size: 1rem;
        font-weight: 600;
        a {
            &.disabled {
                pointer-events: none;
            }
        }
    }

    p {
        font-size: 13px;
        line-height: 1.4;
    }
}



/* -------------------------------------------- */
/*                     页面宽度                 */
/* ------------------------------------------- */
[data-page-style='custom'] {
    @media only screen and (min-width: 760px) {
        %page-style {
            width: 700px;
        }
    }

    @media only screen and (max-width: 760px) {
        %page-style {
            width: 100% !important;
        }

        .devices {
            gap: 1rem;
        }

        .device-item {
            flex: 0 0 calc((100% - 1rem-4px) / 2);
            /* 非常小的屏幕上两列布局 */
        }
    }

    @media only screen and (max-width: 480px) {
        .device-item {
            flex: 0 0 100%;
            /* 非常小的屏幕上两列布局 */
        }

        .device-image {
            height: 200px;

        }

        .post-article {
            grid-template-columns: 1fr;
        }
    }
}