/* ---------------------------------- */
/*                公共样式                */
/* ---------------------------------- */

/* 主题色 */


/* ------------- 主题深色模式 ------------- */
@mixin dark-theme {
    [data-theme="dark"] & {
        @content;
    }
}

@mixin text-color($light-color: $global-text-color, $dark-color: $global-text-color-dark) {
    color: $light-color;

    @include dark-theme {
        color: $dark-color;
    }

}

/* -------------- 背景透明 -------------- */
%background-transparent {
    background: transparent;

    @include dark-theme {
        background: transparent;
    }
}

a {
    transition: all .2s ease-in;

    &:hover:not(.single-title a):not(.header-title a) {
        font-weight: 600;
    }
}

:root{
    /* 主题色 */
  --waline-theme-color: #D2A679 !important;
  --waline-active-color: #8B4513 !important;
}

/* -------------------------------------------- */
/*                    头部                     */
/* ------------------------------------------ */
header {
    max-width: 100%;
    width: auto;

    &:hover {
        box-shadow: none;

        @include dark-theme {
            box-shadow: none;
        }
    }
}

/* -------------------------------------------- */
/*               首页文章部分                   */
/* ------------------------------------------- */


.post-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.home.posts .summary {
    display: flex;
    height: 100%;
    flex-direction: column;
    @include dark-theme();
    border-radius: $global-border-radius;
    padding: 0;
    overflow: hidden;
    border: solid 1px #f0f0f0;


    .featured-image-preview {
        aspect-ratio: auto 1000 / 500;
        margin: 0;

        img {
            border-radius: 0;
        }
    }

    .post-included {
        font-size: 0.75rem;
        @include text-color(#4b5563, #d1d5db);
        line-height: 1.2;
    }

    .post-info {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: space-between;
        flex-grow: 1;
        gap: .3rem;

        .single-title {
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
            margin-block: 0 .5rem;
        }

        .content {
            margin: 0 0 .5rem 0;
            font-size: .875rem;
            line-height: 1.4;
            @include text-color(#4b5563, #d1d5db);
        }

        .post-footer {
            font-size: .75rem;
            line-height: 1.2;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: start;
            gap: .5rem;
            @include text-color(#4b5563, #d1d5db);

            .post-tags {
                @include text-color(#4b5563, #d1d5db);
                max-width: 100%;
            }

        }
    }

    &::after {
        display: none;
    }
}

/* -------------------------------------------- */
/*                      文章页                     */
/* -------------------------------------------- */
.single {
    .post-meta-line {
        margin-top: .5rem;
        span{
            margin-right: .3rem;
        }
        a{
            font-size: .875rem;
            border: solid 1px $global-color-primary;
            padding: .2rem;
            transition: all .2s ease;
            border-radius: .3rem;
            box-sizing: border-box;
            @include text-color($global-color-primary-dark, $global-color-primary-dark);
        }
    }

    .content p {
        a:not(.lightgallery){
            @include text-color($global-color-primary, $global-color-primary-dark);
            box-shadow: 0 1px;
        }
    }
}


#toc-auto .toc-content li.has-active>a {
    @include text-color($global-color-primary, $global-color-primary-dark);
}


/* -------------------------------------------- */
/*                     页面宽度                 */
/* ------------------------------------------- */
[data-page-style='custom'] {
    @media only screen and (min-width: 760px) {
        %page-style {
            width: 700px;
        }
    }

    @media only screen and (max-width: 760px) {
        %page-style {
            width: 100% !important;
        }
    }

    @media only screen and (max-width: 480px) {
        .post-article {
            grid-template-columns: 1fr;
        }
    }
}