@import url("https://ik.imagekit.io/xlccwwjep/shg/result.css?updatedAt=1742026160717");
@import url("https://ik.imagekit.io/xlccwwjep/czth/result.css?updatedAt=1742212334376");
$global-font-size: 18px;
$global-font-family:
    "锤子T黑修改",
    "Google Sans CN Flex",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
$header-title-font-family: $global-font-family;

@media only screen and (max-width: 680px) {
    html {
        font-size: 16px !important;
    }
}
