<div class="custom-footer">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans" title="CC BY-NC-SA 4.0" class="creative-common-icon">
        <i class="icon-item fa-brands fa-creative-commons fa-fw"></i>
        <i class="icon-item fa-brands fa-creative-commons-by fa-fw"></i>
        <i class="icon-item fa-brands fa-creative-commons-nc fa-fw"></i>
        <i class="icon-item fa-brands fa-creative-commons-sa fa-fw"></i>
    </a>
    <div class="not-by-ai">
        <img class="not-by-ai-day" src="/Written-By-Human-Not-By-AI-Badge-white.svg">
        <img class="not-by-ai-dark" src="/Written-By-Human-Not-By-AI-Badge-black.svg">
    </div>
</div>